@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

FUNDAPER

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #f7931e;
$secondary_color: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background:
		url(bg.jpg)
		{
			repeat: repeat-x;
			size: 2200px 375px;
		};
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	};
	color: $secondary_color;
}

a {
	color: $primary_color;
}

/* ---------- Template ---------- */

/* Header */

.header {}

.moduletable_h1 {
	max-width: 240px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
}

.moduletable_h2 {
	padding: 10px 0;
}

/* Menu */

.menu_wrap {
	background-color: $primary_color;
}

.moduletable_m1 {
	.top-bar {
		padding: 0;
		background-color: transparent;
		.top-bar-title {
			strong {
				color: #fff;
			}
		}
		#responsive-menu {
			ul.menu {
				background-color: transparent;
				li {
					background: {
						image: url(menu_a_bg.png);
						position: right;
						repeat: no-repeat;
					}
					&:last-child {
						background: none;
					}
					&.current-menu-item {
						a {
							background-color: $secondary_color;
							color: #fff !important;
						}
					}
					&.menu-item-has-children {
						a {
							padding-right: 20px;
						}
					}
					&.menu-item-4 {
						display: none;
					}
					a {
						padding: 10px 9px;
						font-size: 14px;
						color: #fff;
						&:hover {
							background-color: $secondary_color;
						}
					}
					ul.sub-menu {
						background-color: rgba(255, 255, 255, 0.8);
						border: 0;
						li {
							a {
								font-size: 14px;
								color: $secondary_color;
								&:hover {
									background-color: $primary_color;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Content */

.content {
	.row {
		.columns {
			padding-bottom: 10px;
		}
	}
}

/* Home */

.home {
	background-color: #f2f2f2;
}

.moduletable_ho1 {
	padding: 20px 0;
	div.row {
		margin: 0 !important;
	}
	a {
		color: $secondary_color;
	}
	h3 {
		margin: 0;
		margin-top: 10px;
		font: {
			family: 'Open Sans', sans-serif;
			size: 14px;
			weight: bold;
		};
	}
}

/* Help */

.help {
	padding: 30px 0;
	.row {
		height: 235px;
		background: {
			image: url(help_row_bg.png);
			position: center;
			repeat: no-repeat;
		}
	}
}

.moduletable_he1 {}

/* Bottom */

.bottom {
	background-color: $secondary_color;
}

.moduletable_bo1 {
	padding: 10px 0;
	font-size: 14px;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $secondary_color;
	font-size: 12px;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Contents ---------- */

.box_1 {
	margin: 10px 0;
	padding: 20px;
}

.box_2 {
	margin: 10px 0;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	h2 {
		margin: 0;
		margin-bottom: 10px;
		font-size: 20px;
		color: $primary_color;
		text-transform: uppercase;
	}
}

#publicaciones_title {
	margin-top: 10px;
	h2 {
		margin: 0;
		font-size: 20px;
		color: $primary_color;
		text-transform: uppercase;
	}
}

#publicaciones_content {}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Header */

	.moduletable_h1 {
		margin: auto;
	}

	.moduletable_h2 {
		text-align: center;
	}

	/* Home */

	.moduletable_ho1 {
		div.columns {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {

	/* Menu */

	.top-bar-title {
		margin: 0;
	}

}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}